<div id="post" class="p-4 pb-1 pb-md-1 p-md-5">
    <div class="d-flex align-items-center">
        <img [src]="profilePicture"
             alt="user profile picture"
             (click)="navigateToUser()"
             class="rounded-5 border border-black d-inline-block">
        <div class="ms-2">
            <span class="h4 text-light">{{ name }}</span> <br>
            <span class="text-light">@{{ username }} | </span>
            <span class="text-light">{{ getRelativeTime }}</span>
        </div>
    </div>

    <div class="my-3 mx-md-5"> <span class="h6 text-light">{{post.description}}</span> </div>

    <img *ngIf="post.postType === PostType.IMAGE" #postImageElement
         [src]="postImage" [class]="aspectRatioClass"
         alt="post image" class="post rounded mx-md-5" (click)="navigateTo(post.id)">

    <div *ngIf="post.postType === PostType.VIDEO" (click)="navigateTo(post.id)">
        <video #postVideoElement
               (mouseenter)="playVideo()"
               [src]="postVideo" controls
               [class]="aspectRatioClass"
               class="post rounded-3 mx-md-5">
               Your browser does not support the video tag.
        </video>
    </div>

    <div class="mx-md-5"> <post-interaction [id]="post.id"></post-interaction> </div>
</div>
