<!--  SIDE NAV BAR STARTS HERE -->
<side-bar></side-bar>
<!--  SIDE NAV BAR ENDS HERE -->
<article>
    <!--  TOP NAV BAR STARTS HERE -->
    <top-bar [isSearchResultShowing]="isSearchResultShowing" (clear)="loadPostList()" (search)="search($event)">
    </top-bar>
    <!--  TOP NAV BAR ENDS HERE -->

    <!--  MAIN CONTENT SPACE STARTS HERE -->
    <section>
        <div id="content-div" class="me-4 card">
            <div class="content-body rounded border border-end-0 border-start-0 px-5"
                [class]="{'scrollable': !(isSearchResultShowing && postList.length === 0)}">
                <table class="table my-2">
                    <thead>
                        <tr>
                            <th scope="col">
                                <h2>Post</h2>
                            </th>
                            <th scope="col">
                                <h2>Description</h2>
                            </th>
                            <th scope="col">
                                <h2>Post Type</h2>
                            </th>
                            <th scope="col">
                                <h2>Date & Time</h2>
                            </th>
                            <th scope="col">
                                <h2>User</h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of postList">
                            <td id="post-td" (click)="redireactTo(post.id)">
                                <div class="loading-div p-3"
                                    *ngIf="(post.postType.toString() === 'VIDEO' || post.postType.toString() === 'IMAGE') && !postFileMap.has(post.id)">
                                    <div class="loader" ></div>
                                </div>
                                <img *ngIf="post.postType.toString() === 'IMAGE' && postFileMap.has(post.id)"
                                     alt="Post Image"
                                     class="post-file"
                                     [src]="postFileMap.get(post.id)?.fileString">

                                <video *ngIf="post.postType.toString() === 'VIDEO' && postFileMap.has(post.id)"
                                        [src]="postFileMap.get(post.id)?.fileString"
                                        class="post-file">
                                    Your browser does not support the video tag.
                                </video>
                            </td>
                            <td (click)="redireactTo(post.id)">
                                <h3 [class]="{'text-muted' : !post.description}">
                                    {{ post.description? post.description : 'No Description' }}
                                </h3>
                            </td>
                            <td (click)="redireactTo(post.id)">
                                <h3>{{ post.postType | titlecase }}</h3>
                            </td>
                            <td (click)="redireactTo(post.id)">
                                <h3>{{ getPostDate(post.createdOn) | date:'dd MMM yyy | hh:mm a' }}</h3>
                            </td>
                            <td>
                                <user-pill [UserID]="post.userId"></user-pill>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="no-result" *ngIf="isSearchResultShowing && postList.length === 0">
                    <h2>No Result Found</h2>
                </div>
            </div>
            <div class="content-footer rounded d-flex justify-content-between align-items-center px-5">
                <div>
                    <button type="button" [disabled]="pageNo <= 0"
                        class="btn me-1 d-flex justify-content-center align-items-center p-2 fwd-bwd-btn"
                        (click)="pageNo = pageNo -1; loadPostList()">
                        <mat-icon aria-hidden="false" aria-label="arrow_back_ios"
                            style="background: #023047; color: white" fontIcon="arrow_back_ios">
                        </mat-icon>
                    </button>
                </div>
                <div>{{pageNo+1}} out of {{totalPages}}</div>
                <div>
                    <button type="button" [disabled]="isLast"
                        class="btn me-1 d-flex justify-content-center align-items-center p-2 fwd-bwd-btn"
                        (click)="pageNo = pageNo +1; loadPostList()">
                        <mat-icon aria-hidden="false" aria-label="arrow_forward_ios"
                            style="background: #023047; color: white" fontIcon="arrow_forward_ios">
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!--  MAIN CONTENT SPACE ENDS HERE -->
</article>