* {
    background-color: white;
  }
  article {
    height: 100%;
    width: 100%;
  }
  section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: #e2e1e1;
  }
  #content-div {
    width: 80%;
    height: 95%;
  }
  .content-body {
    height: 90%;
    width: 100%;
  }
  .content-footer {
    height: 10%;
    width: 100%;
  }

  #profile-picture {
    height: 50px;
    aspect-ratio: 1;
  }
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
  .fwd-bwd-btn {
    background-color: #023047;
  }
  thead {
    position: sticky;
    top: 0;
    z-index: 1; /* Make sure it is above other content */
    border-bottom: 2px solid #023047;
  }
  th,td {
    text-align: center;
    vertical-align: middle;
  }
  #profile-picture {
      aspect-ratio: 1;
      object-fit: contain;
      border: 1px solid #023047;
      border-radius: 50%;
      background-color: white;
  }
  #no-result {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
.post-file {
    aspect-ratio: 1;
    object-fit: contain;
    max-width: 100px;
    border: 1px solid #023047;
}
