<ng-template #reportModal>
  <div class="modal-dialog" style="max-width: 600px;">
      <div class="modal-content">
          <div class="d-flex justify-content-between align-items-center m-3 mb-0">
              <h2 mat-dialog-title class="m-0">Settings</h2>
              <button class="btn btn-outline-dark d-flex justify-content-center p-2 rounded-5" (click)="closeModal()">
                  <mat-icon fontIcon="close"></mat-icon>
              </button>
          </div>
          <mat-dialog-content>
              <div>
                  <div class="px-4 settings-item rounded-4 py-2 mb-2">
                      <h2 class="text-light">Report User</h2>
                      <textarea name="report-reason"
                                id="report-reason"
                                placeholder="Reason for reporting"
                                class="form-control"
                                #Report="ngModel"
                                [class]="{'is-invalid': ( !isValidReason && Report.touched )}"
                                [(ngModel)]="description"></textarea>
                      <span class="text-danger h6" *ngIf="( !isValidReason && Report.touched )">Please give a valid Reason for reporting</span>
                      <button type="button" (click)="reportUser()"
                              class="btn btn-danger form-control mt-1">Report</button>
                  </div>
              </div>
          </mat-dialog-content>
      </div>
  </div>
</ng-template>

<div id="side-nav"> 
    <side-nav-bar></side-nav-bar> 
</div>
<div id="bottom-nav">
    <bottom-nav-bar></bottom-nav-bar>
</div>

<article class="color-body">
    <section class="scollable">
        <div id="profile">
            <div>
                <div id="cover-pic" class="img-basics" [style.background-image]="'url(' + coverPicture + ')'">
                    <div id="profile-pic" class="img-basics" [style.background-image]="'url(' + profilePicture + ')'">
                    </div>
                </div>
            </div>
			<div class="row px-3 py-2">
                <div class="col-5"></div>
                <div class="col-7 d-flex justify-content-end my-1">
                    <button [class]="{'btn-dark' : isFriends && !isRequested, 'btn-light' : !isFriends || isRequested}"
                            class="btn rounded-5 px-md-5 me-1" 
                            (click)="friendBtnOnClick()">
                        <span class="text-dark" *ngIf="!isFriends && !isRequested">
                            Add Friend
                        </span>
                        <span *ngIf="isFriends && !isRequested">
                            Remove
                        </span>
                        <span class="text-dark" *ngIf="!isFriends && isRequested">
                            Requested
                        </span>
                    </button>
                    <button class="btn btn-dark rounded-5 px-md-5" (click)="redirectTO()">
                        Message
                    </button>
                    <button class="btn p-0" (click)="openModal()">
                        <mat-icon fontIcon="more_vert" style="transform: scale(1.5); color: white;"></mat-icon>
                    </button>
                </div>
			</div>
            <div id="profile-details">
                <p id="user-name">{{ user.name }}</p>
                <p id="username"> @{{ user.username }}</p>
                <p id="bio">{{ user.aboutMe}}</p>
                <p id="joined-date">Since {{ user.joinDate | date: 'MMMM yyyy' }}</p>
                <p id="phone">{{ user.phone }}</p>
                <p id="friends-count"><span>{{ friendsCount }}</span> Friends</p>
            </div>
        </div>
        <div id="posts">
            <div id="my-post-label">
                <span>My Posts</span>
            </div>
            <div *ngFor="let post of posts">
                <single-post [post]="post"></single-post>
            </div>
        </div>
    </section>
</article>