<div id="side-nav"> <side-nav-bar></side-nav-bar> </div>

<article>
  <section>
      <div *ngIf="post">
        <single-post [post]="post"></single-post>
      </div>
      <div>
          <div class="container py-4 px-sm-2 px-lg-5">
            <div class="row">
              <div class="p-0 pe-1 col-md-9">
               <textarea type="text"
                         name="comment"
                         id="comment-text"
                         class="form-control"
                         [class]="{ 'is-invalid' : commentTxt==='' && tryingToPost}"
                         placeholder="Comment on this Post"
                         [(ngModel)]="commentTxt"></textarea>
                <span *ngIf="commentTxt==='' && tryingToPost" class="text-danger">Comment Cannot Be Empty</span>
              </div>
              <div class="p-0 col-md-3">
                <button class="btn btn-dark form-control" (click)="postComment()">Post</button>
              </div>
            </div>
          </div>
          <hr>
          <div *ngIf="comments.length > 0"  class="pb-5">
              <div *ngFor="let comment of comments" class="px-3 my-2">
                 <single-comment [comment]="comment"></single-comment>
              </div>
            <hr>
          </div>
      </div>
  </section>
</article>
