<nav class="sidebar px-1">
  <div class="d-flex flex-column justify-content-between align-items-center" style="height: 100%;">
    <div style="width: 100%">
      <div class="icon-panel m-1 rounded-5 ">
        <div class="d-flex align-items-center justify-content-center " style="width: 100%; height: 100%;" >
          <mat-icon aria-hidden="false"
                    aria-label="home"
                    fontIcon="home"
                    routerLink="/u/home">
          </mat-icon>
        </div>
      </div>
      <div class="icon-panel m-1 p-2 rounded-5">
        <div class="d-flex align-items-center justify-content-center " style="width: 100%; height: 100%;" >
          <mat-icon aria-hidden="false"
                    aria-label="search"
                    fontIcon="search">
          </mat-icon>
        </div>
      </div>
      <div class="icon-panel m-1 p-2 rounded-5">
        <div class="d-flex align-items-center justify-content-center " style="width: 100%; height: 100%;" >
          <mat-icon aria-hidden="false"
                    aria-label="chat"
                    fontIcon="forum">
          </mat-icon>
        </div>
      </div>
      <div class="icon-panel m-1 p-2 rounded-5">
        <div class="d-flex align-items-center justify-content-center " style="width: 100%; height: 100%;" >
          <mat-icon aria-hidden="false"
                    aria-label="notifications"
                    fontIcon="notifications">
          </mat-icon>
        </div>
      </div>
      <div class="icon-panel m-1 p-2 rounded-5">
        <div class="d-flex align-items-center justify-content-center " style="width: 100%; height: 100%;" >
          <mat-icon aria-hidden="false"
                    aria-label="explore"
                    fontIcon="explore">
          </mat-icon>
        </div>
      </div>
    </div>
    <div class="icon-panel mx-1 mb-2 rounded-5">
      <div class="d-flex align-items-center justify-content-center " style="width: 100%; height: 100%;" >
        <mat-icon aria-hidden="false"
                  aria-label="profile"
                  fontIcon="person"
                  routerLink="/u/profile">
        </mat-icon>
      </div>

    </div>
  </div>
</nav>
