<nav class="sidebar px-1">
    <div id="nav-div">
        <div id="top-nav">
            <div class="icon-panel m-1 rounded-5" routerLink="/u/home">
                <div class="flex-center">
                    <mat-icon aria-hidden="false" aria-label="home" fontIcon="home"></mat-icon>
                </div>
            </div>

            <div class="icon-panel m-1 p-2 rounded-5" routerLink="/u/search">
                <div class="flex-center">
                    <mat-icon aria-hidden="false" aria-label="search" fontIcon="search"></mat-icon>
                </div>
            </div>

            <div class="icon-panel m-1 p-2 rounded-5" routerLink="/u/chat">
                <div class="flex-center">
                    <mat-icon aria-hidden="false" aria-label="chat" fontIcon="forum"></mat-icon>
                </div>
            </div>

            <div class="icon-panel m-1 p-2 rounded-5" routerLink="/u/notifications">
                <div class="flex-center">
                    <mat-icon aria-hidden="false" aria-label="notifications" fontIcon="notifications"></mat-icon>
                </div>
            </div>

            <div class="icon-panel m-1 p-2 rounded-5">
                <div class="flex-center">
                    <mat-icon aria-hidden="false" aria-label="explore" fontIcon="explore"></mat-icon>
                </div>
            </div>
        </div>

        <div class="icon-panel mx-1 mb-2 rounded-5">
            <div class="flex-center" routerLink="/u/profile" >
                <mat-icon aria-hidden="false" aria-label="profile" fontIcon="person"></mat-icon>
            </div>
        </div>
    </div>
</nav>