<div id="page-bg" class="p-lg-5 p-2 d-lg-flex justify-content-center">
  <div id="form-bg" class="col-lg-6 rounded-5 p-5">
    <div id="div" class="d-flex flex-column align-items-center justify-content-center">
        <span class="display-6 "><b>OTP Verificaton</b></span>
          <img src="assets/logo.png" alt="Logo" class="logo">
    </div>
    <div id="div" class="d-flex flex-column align-items-center justify-content-center">
      <span class="h6">Your 6-Digit OTP is sent via the email ****12@gmail.com</span>
      <span>OTP Expires in</span>
      <div>
        <span class="h2">05:00</span>
      </div>
    </div>
    <div id="div" class="px-lg-5">
        <div class="m-2 mt-0">
          <label for="exampleInputPassword1" class="form-label">Enter your OTP</label>
          <input  type="number"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="* * * * * *">
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit"
                  class="btn btn-warning form-control m-2">
                  <span class="h5 text-dark">Resent OTP</span>
          </button>
          <button type="submit"
                  class="btn btn-success form-control m-2"
                  routerLink="/home">
                  <span class="h5 text-dark">Verify OTP</span>
          </button>
        </div>
    </div>
  </div>
</div>