#page-bg {
  background: url('src/assets/LoginSignUpBg.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
}
#form-bg{
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}
#div1 {
  width: 100%;
  height: 35%;
}
#div2 {
  width: 100%;
  height: 20%;
}
#div3 {
  width: 100%;
  height: auto;
}
label, span {
  color: white;
}
.hover-effect:hover u {
  color: aqua;
}
.hover-effect {
  cursor: pointer;
}
.logo{
  height: 80%;
  object-fit: contain;
}
input {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}
input::placeholder {
  color: rgba(110, 110, 110, 0.8);
  font-weight: bold;
}
input:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}
