<nav id="side-nav-bar">
    <div id="logo-div" class="d-flex justify-content-center align-items-center">
        <span class="display-4 text-light">H<span class="text-warning">i</span>ve</span>
    </div>

    <div id="nav-links">
        <div class="nav-link py-4 "
             [class]="{'active': currentPage === CurrentPage.DASHBOARD}"
             routerLink="/a/dashboard">
            <span class="h5 text-light">Dashboard</span>
        </div>
        <div class="nav-link border-black py-4 "
             [class]="{'active': currentPage === CurrentPage.USER_MANAGEMENT}"
             routerLink="/a/users">
            <span class="h5 text-light">Users</span>
        </div>
        <div class="nav-link border-black py-4 "
             [class]="{'active': currentPage === CurrentPage.POST_MANAGEMENT}"
             routerLink="/a/posts">
            <span class="h5 text-light">Content Monitor</span>
        </div>
        <div class="nav-link border-black py-4 "
             [class]="{'active': (currentPage === CurrentPage.COMPLAINT_MANAGEMENT)}"
             routerLink="/a/complaints">
            <span class="h5 text-light">Reports & Complaints</span>
        </div>
        <div class="nav-link border-black py-4 ">
            <span class="h5 text-light">Profile</span>
        </div>
    </div>

    <div id="logout-div" class="d-flex justify-content-center align-items-center" (click)="logout()">
        <span class="h4 m-0 text-danger" style="cursor: pointer;">Log out</span>
    </div>
</nav>