*{ background-color: white; }
article {
  height: 100%;
  width: 100%;
}

/* Top Nav Bar */
#top-nav-bar-aligner {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 10%;
}
#top-nav-bar {
  width: 85%;
  height: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1{
  color : #023047;
  font-weight: bold;
}
#search-input, #search{
  background-color: #f1f1f1;
  color: #023047;
}
#search-input {
  height: 100%;
  width: 90%;
}
#search-input:focus{
  background-color: #f1f1f1;
  color: #023047;
  box-shadow: none;
}
#search-input::placeholder{ color: #023047; }
#search-btn {
  background-color: #023047;
}


section {
  width: 100%;
  min-height: 90%;
  background-color: #e2e1e1;
}
#content-div {
  width: 80%;
  min-height: 95%;
  }

.post{
  height: 200px;
  aspect-ratio: 1;
}
.fwd-bwd-btn {
  background-color: #023047;
}
#table-div {
  overflow-y: scroll;
}