@media only screen and (max-width: 767px) {
    #peoples-section {
        height: 100vh;
        width: 100%;
        background-color: #171B23;
        margin-right: 1px;
    }

    .toggle-chat {
        display: none;
    }

    #chat-section {
        height: 100vh;
        width: 100%;
        background-color: rgba(1, 1, 1, 0.5);
    }

    #chat-input-outer {
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: center;
    }

    #chat-input {
        width: 100%;
        height: 90%;
        background-color: #171B23;
        display: flex;
        justify-content: space-between;
    }

    #chat-input button {
        margin-left: 0;
        margin-right: 5px;
    }

    #sent-btn {
        margin-right: 10px !important;
    }

    #home-btn {
        border: 1px solid white;
    }

    #home-btn mat-icon {
        color: white;
        background-color: #171B23;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
    article {
        display: flex;
    }

    #side-nav {
        height: 100vh;
        margin-right: 1px;
    }

    #peoples-section {
        height: 100vh;
        width: 35%;
        background-color: #171B23;
        margin-right: 1px;
    }

    #chat-section {
        height: 100vh;
        width: 75%;
        background-color: rgba(1, 1, 1, 0.5);
    }

    #chat-input-outer {
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: center;
    }

    #chat-input {
        width: 90%;
        height: 90%;
        background-color: #171B23;
        display: flex;
        justify-content: space-between;
    }

    #home-btn {
        border: 1px solid white;
        aspect-ratio: 1;
    }

    #home-btn mat-icon {
        color: white;
        background-color: #171B23;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (min-width: 1023px) {
    article {
        display: flex;
    }

    #side-nav {
        height: 100vh;
        margin: 0;
        padding: 0;
        margin-right: 1px;
    }

    #peoples-section {
        height: 100vh;
        width: 25%;
        background-color: #171B23;
        margin-right: 1px;
    }

    #peoples-section-header {
        padding-top: 5%;
    }

    #chat-section {
        height: 100vh;
        width: 70%;
        background-color: rgba(1, 1, 1, 0.5);
    }

    #chat-input-outer {
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: center;
    }

    #chat-input {
        width: 90%;
        height: 90%;
        background-color: #171B23;
        display: flex;
        justify-content: space-between;
    }

    #home-btn {
        display: none;
    }
}

article {
    width: 100%;
    height: 100%;
}

p {
    color: white;
    font-weight: lighter;
    font-size: xx-large;
    margin: 0;
}

#message-input,
#message-input:focus,
#message-input::placeholder {
    background-color: #171B23;
    color: white;
    height: 100%;
    width: 80%;
    padding-left: 2%;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: large;
    font-weight: lighter;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.message-right {
    background-color: orange;
    border-radius: 20px 20px 20px 0;
}

.message-left {
    background-color: palegreen;
    border-radius: 20px 20px 0 20px;
}

.message-right,
.message-left {
    margin-top: 1%;
    font-weight: normal;
    font-size: larger;
    word-wrap: break-word;
}

.user-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    border-bottom: #5e548e solid 1px;
    cursor: pointer;
}

.user-tile:hover {
    background-color: #5e548e;
    transform: scale(1.05);
    transition-duration: 0.3s;
}

.user-tile img {
    aspect-ratio: 1;
    width: 50px;
    border-radius: 50%;
    border: black solid 1px;
}

.user-tile p {
    font-size: large;
    font-weight: normal;
    margin: 2px;
}

.user-tile span {
    color: white;
    font-size: small;
    font-weight: lighter;
    margin: 2px;
}

#peoples-section-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: lighter;
}

#peoples-section-footer div {
    cursor: pointer;
}

#peoples-section-footer div:hover {
    color: greenyellow;
}

.inGroupUsers {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.active {
    color: greenyellow;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#recording {
    display: flex;
    justify-content: center;
    align-items: center;

}

#recording h2 {
    padding: 0;
    margin: 0;
}

#audio-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scale-up {
    transform: scale(1.5);
}

#current-user {
    border-radius: 50% !important;
    aspect-ratio: 1 !important;
    width: 40px !important;
    height: 40px !important;
    border: 1px solid white !important;
    align-self: flex-end;
}

.image-div-chat {
    margin: 0;
    margin-bottom: 5%;
    margin-right: 2%;
}

audio {
    margin: 0;
}

.list-container {
    position: absolute;
    bottom: 8%;
    right: 15%;
    background: #353535;
    border: 1px solid #5e548e;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    z-index: 1000;
    /* Ensure it appears on top */
}

.list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-container ul li {
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.list-container ul li:hover {
    background-color: #5e548e;
}

.image-basics {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}


/* Chat Related */
#chat-body {
    padding: 0;
    margin: 0;
}

.chat-scroll {
    height: 84vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#no-message {
    height: 84vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#no-message div {
    background-color: rgba(225, 225, 225, 0.2);
}

.message {
    width: 100%;
    margin: 0;
    padding: 0;
}

.message-content {
    word-wrap: break-word;
    border-radius: 20px;
    padding: 10px;
    max-width: 90%;
}

.bg-blue {
    background-color: #10d5f8;
}

.bg-white {
    background-color: white;
}

.border-blue {
    border: 2px solid #10d5f8;
}

.border-white {
    border: 2px solid white;
}

.message-media {
    width: 50%;
    object-fit: contain;
}

.message-time {
    color: white;
    font-size: small;
    font-weight: lighter;
    margin-left: 45px;
    margin-right: 45px;
}

.new-msg-count {
    border-radius: 50%;
    background-color: green;
    color: white;
    aspect-ratio: 1;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PEOPLE SECTION RELATED */

#peoples-section-header {
    height: 20vh;
    max-height: 20vh;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    border-bottom: #5e548e solid 1px;
}

.peoples-scroll {
    height: 76vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.peoples-scroll::-webkit-scrollbar {
    width: 5px;
    border-radius: 50%
}

.peoples-scroll::-webkit-scrollbar-track {
    margin: 12px 0;
    background: #0b132b00;
    border-radius: 10px;
}

.peoples-scroll::-webkit-scrollbar-thumb {
    background: rgba(236, 236, 236, 0.5);
    border-radius: 10px;
}

#search,
#search:focus,
#search::placeholder {
    background-color: #00000000;
    color: white;
    font-weight: lighter;
    font-size: larger;
    padding: 2%;
    max-height: 40px;
}

/* CHAT RELATED */
#chat-header {
    width: 100%;
    height: 8vh;
    background-color: #171B23;
    display: flex;
    align-items: center;
    padding: 0 2%;
}

#back-btn {
    color: white;
    margin: 0;
    padding: 0;
}

#back-btn mat-icon{
    color: white;
    margin: 0;
    padding: 0;
}

#profile-picture {
    border: white solid 2px;
    aspect-ratio: 1;
    height: 80%;
    border-radius: 50%;
    margin: 5px 10px;
}

#search-btn {
    border: #5e548e solid 1px;
    background-color: #5e548e;
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    border-radius: 50%;
    height: 40px;
    width: 50px;
    aspect-ratio: 1;
}

#search-div {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
}

#search-icon {
    color: #171B23;
}