<ng-template #NewGroup>
    <div>
        <h2 mat-dialog-title class="m-0">New Group</h2>
    </div>
    <mat-dialog-content style="overflow-x: hidden;">
        <div style="width: 500px;">
            <input type="text" name="group-name" id="group-name-input" placeholder="Name of Group"
                class="form-control" [(ngModel)]="groupName">
            <h2>Group Members</h2>
            <div id="peoples-section-body">
                <div *ngFor="let userId of inGroupUsers.keys()" class="inGroupUsers">
                    <div (click)="addToGroup(userId)" class="user-tile  d-flex justify-content-start">
                        <img [src]="userProfileImageMap.get(userId)" alt="User Profile">
                        <div class="ms-3">
                            <p> {{ '@'+inGroupUsers.get(userId)!.username }} </p>
                            <p> {{ inGroupUsers.get(userId)!.name }} </p>
                        </div>
                    </div>
                    <mat-icon fontIcon="close" *ngIf="userId !== currentUser.id"
                        (click)="removeFromGroup(userId)"></mat-icon>
                </div>
            </div>
            <h2>Add Members From</h2>
            <div id="peoples-section-body">
                <div *ngFor="let userId of notInGroupUsers.keys()">
                    <div (click)="addToGroup(userId)" class="user-tile  d-flex justify-content-start">
                        <img [src]="userProfileImageMap.get(userId)" alt="User Profile">
                        <div class="ms-3">
                            <p> {{ '@'+notInGroupUsers.get(userId)!.username }} </p>
                            <p> {{ notInGroupUsers.get(userId)!.name }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="flex-center">
            <button (click)="createNewGroup()" type="button" class="btn btn-success form-control m-1">Create</button>
            <button (click)="closeNewGroup()" type="button" class="btn btn-warning form-control m-1">Cancel</button>
        </div>
    </mat-dialog-actions>
</ng-template>

<ng-template #NewChat>
    <div>
        <h2 mat-dialog-title class="m-0">New Chat</h2>
    </div>
    <mat-dialog-content class="py-0" style="overflow-x: hidden;">
        <div style="width: 500px;">
            <div id="peoples-section-body">
                <div *ngFor="let user of allUsers">
                    <div (click)="chatWithUser(user); closeNewChat();" class="user-tile d-flex justify-content-start">
                        <img [src]="userProfileImageMap.get(user.id!)" alt="User Profile">
                        <div class="ms-3">
                            <p> {{ '@'+user.username }}</p>
                            <Span>{{ user.name? user.name : 'User' }}</Span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button (click)="closeNewChat()" type="button" class="btn btn-dark form-control m-1">Close</button>
    </mat-dialog-actions>
</ng-template>

<article>
    <div id="side-nav"> 
        <side-nav-bar></side-nav-bar>
    </div>
    <!-- <div id="bottom-nav">
        <bottom-nav-bar></bottom-nav-bar>
    </div> -->
<!-- PEOPLE LISTING SECTION STARTS HERE -->
    <div id="peoples-section" [class]="{'toggle-chat': (receiver || group)}">
        <!-- TOP SECTION -->
        <div id="peoples-section-header">
            <div class="flex-between-center mb-2">
                <button type="button" 
                        id="home-btn" 
                        routerLink="/u/home"
                        class="btn rounded-5">
                    <mat-icon aria-hidden="false" 
                              aria-label="home" 
                              fontIcon="home"></mat-icon>
                </button>
                <p> Chats </p>
                <div>
                    <img routerLink="/u/profile" [src]="userProfileImageMap.get(currentUser.id!)" id="current-user" alt="User Profile">
                </div>
            </div>
            <input type="text" 
                    class="form-control rounded-5" 
                    id="search" 
                    name="search" 
                    placeholder="Search"
                    [(ngModel)]="searchText">
            <div id="peoples-section-footer" class="pt-3">
                <div (click)="showGroups = false" [class]="{'active': !showGroups}">
                    Personal
                </div>
                <div (click)="showGroups = true" [class]="{'active': showGroups}">
                    Groups
                </div>
            </div>
        </div>
        <!-- TOP SECTION ENDS -->
        <!-- LISTING SECTION -->
        <div id="peoples-section-body" class="peoples-scroll" *ngIf="showGroups">
            <div *ngFor="let group of groups">
                <div (click)="chatInGroup(group)" class="user-tile">
                    <div class="flex-start">
                        <img src="assets/no-profile-image.jpg" alt="User Profile">
                        <div class="ms-3">
                            <p> {{ group.groupName }} </p>
                            <Span>{{ group.membersId.length +' Members'}}</Span>
                        </div>
                    </div>
                    <ng-container *ngIf="senderIdNewMessageCountMap.has(group.id!.toString())">
                        <div class="new-msg-count">{{ senderIdNewMessageCountMap.get(group.id!.toString())}}</div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div id="peoples-section-body" class="peoples-scroll" *ngIf="!showGroups">
            <div *ngFor="let user of friendsList">
                <div (click)="chatWithUser(user)" class="user-tile">
                    <div class="flex-start">
                        <img [src]="userProfileImageMap.get(user.id!)" alt="User Profile">
                        <div class="ms-3">
                            <p> {{ user.username }} </p>
                            <Span>{{ (currentUser.id === user.id)? 'Me': 'Online / Last Seen'}}</Span>
                        </div>
                    </div>
                    <ng-container *ngIf="senderIdNewMessageCountMap.has(user.id!.toString())">
                        <div class="new-msg-count">{{ senderIdNewMessageCountMap.get(user.id!.toString())}}</div>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- LISTING SECTION ENDS -->
         <!-- FOOTER -->
        <div id="peoples-section-footer">
            <div (click)="openNewChat()">New Chat</div>
            <div (click)="open()">New Group</div>
        </div>
        <!-- FOOTER -->
    </div>
<!-- PEOPLE LISTING SECTION ENDS HERE -->
<!-- CHAT SECTION -->
    <div id="chat-section" *ngIf="(receiver || group)">
        <!-- CHAT HEADER -->
        <div id="chat-header">
            <button class="btn" (click)="goBack()">
                <mat-icon style="color: white;" fontIcon="arrow_back_ios_new"></mat-icon>
            </button>
            <img class="user-profile-picture" 
                [src]="receiver ? userProfileImageMap.get(receiver.id!) : 'assets/no-profile-image.jpg'"
                *ngIf="receiver || group">
            <div class="ms-3">
                <span class="h4 text-light">
                    {{ receiver ? (receiver.name ? receiver.name : receiver.username) : group!.groupName }}
                </span>
                <br>
                <span class="text-light">
                    {{ receiver ? 'Online / Last Seen' : group!.membersId.length + ' Members' }}
                </span>
            </div>
        </div>
        <!-- CHAT HEADER ENDS HERE -->
        <!-- CHAT BODY -->
        <div #chatBody id="chat-body" class="chat-scroll">
            <!-- IF NO PREVIOUS CHAT -->
            <ng-container *ngIf="messages.length === 0">
                <div id="no-message">
                    <div class="h3 p-3 rounded-5">Start a new Conversation</div>
                </div>
            </ng-container>
            <!-- IF PREVIOUS CHAT EXISTS -->
            <ng-container *ngIf="messages.length > 0">
                <!-- LOOP -->
                <div class="message row" *ngFor="let message of messages">
                    <div class="col-12 col-md-6 my-1">
                        <ng-container  *ngIf="isMessageComming(message)">
                            <div class="flex-start">
                                <img [src]="getProfileImage(message.senderId)" 
                                    id="current-user" 
                                    class="me-1" 
                                    alt="User">
                                <div class="message-content bg-blue" *ngIf="isOnlyTextMsg(message.messageFileType)">
                                    {{ message.content}}
                                </div>
                                <img [src]="message.content" 
                                    *ngIf="message.messageFileType === MessageFileType.IMAGE"
                                    class="message-media border-blue rounded-4" 
                                    alt="Image preview">
                                <video [src]="message.content" 
                                        controls  
                                        *ngIf="message.messageFileType === MessageFileType.VIDEO"
                                        class="message-media border-blue rounded">
                                </video>
                                <audio controls class="border-blue rounded-5" *ngIf="message.messageFileType === MessageFileType.AUDIO">
                                    <source [src]="message.content" type="audio/wav">
                                </audio>
                            </div>
                            <span class="message-time">{{ message.timestamp | date:'hh:mm aa' }}</span>
                        </ng-container>
                    </div>
                    
                    <div class="col-12 col-md-6 my-1">
                        <ng-container  *ngIf="isMessageGoing(message)">
                            <div class="flex-end">
                                <div class="message-content bg-white" *ngIf="isOnlyTextMsg(message.messageFileType)">
                                    {{ message.content}}
                                </div>
                                <img [src]="message.content" 
                                    *ngIf="message.messageFileType === MessageFileType.IMAGE"
                                    class="message-media border-white rounded" 
                                    alt="Image preview">
                                <video [src]="message.content" 
                                        controls  
                                        *ngIf="message.messageFileType === MessageFileType.VIDEO"
                                        class="message-media border-white rounded">
                                </video>
                                <audio controls class="border-white rounded-5" *ngIf="message.messageFileType === MessageFileType.AUDIO">
                                    <source [src]="message.content" type="audio/wav">
                                </audio>
                                <img [src]="getProfileImage(currentUser.id!.toString())"
                                    id="current-user" 
                                    class="ms-1"
                                    alt="You">
                            </div>
                            <div class="message-time flex-end">{{ message.timestamp | date:'hh:mm aa' }}</div>
                        </ng-container>
                    </div>
                </div>
                <!-- LOOP ENDS -->
            </ng-container>
        </div>
        <!-- CHAT BODY ENDS HERE -->
        <!-- ACTION BAR -->
        <div *ngIf="isListVisible" class="list-container">
            <ul>
                <li (click)="triggerImageInput()"> 
                    <mat-icon style="color: white" class="me-1" fontIcon="crop_original"></mat-icon> Images
                </li>
                <li (click)="triggerVideoInput()"> 
                    <mat-icon style="color: white" class="me-1" fontIcon="smart_display"></mat-icon> Videos
                </li>
            </ul>
        </div>
        <div id="chat-input-outer">
            <div id="chat-input" class="rounded-5">
                <input type="text" 
                       *ngIf="!recording && !isAudioReadyToSent" 
                       class="rounded-5" 
                       id="message-input"
                       name="message" 
                       placeholder="Type here..." 
                       (keydown.enter)="sendMessage()"
                       [(ngModel)]="newMessage">

                <div *ngIf="recording" id="recording" class="ps-5">
                    <h2>Recording...</h2>
                </div>

                <div id="audio-div">
                    <audio controls *ngIf="url">
                        <source [src]="sanitize(url)" type="audio/wav">
                    </audio>
                    <button *ngIf="url" class="btn btn-light rounded-5" (click)="clearRecording()">
                        <mat-icon class="m-1" fontIcon="close"></mat-icon>
                    </button>
                </div>

                <div class="d-flex flex-row">
                    <button class="btn btn-light rounded-5" *ngIf="!recording"  (click)="toggleListVisibility()">
                        <mat-icon fontIcon="add"></mat-icon>
                    </button>
                    <button class="btn btn-light rounded-5" (click)="toggleStartStopRecording()">
                        <mat-icon *ngIf="!recording" fontIcon="mic"></mat-icon>
                        <mat-icon *ngIf="recording" fontIcon="stop_circle" class="scale-up"></mat-icon>
                    </button>
                    <button id="sent-btn" class="btn btn-light rounded-5 px-4" (click)="sendMessage()" [disabled]="sendingSpinner">
                        <mat-icon *ngIf="!sendingSpinner" fontIcon="send"></mat-icon>
                        <div class="loader" style="width: 30px;" *ngIf="sendingSpinner"></div>
                    </button>
                </div>
            </div>
        </div>
        <!-- ACTION BAR ENDS HERE -->
    </div>
    <!-- CHAT SECTION ENDS HERE -->
</article>

<input type="file" (change)="onFileSelected($event, MessageFileType.IMAGE)" accept="image/png, image/jpeg" hidden #imageInput>
<input type="file" (change)="onFileSelected($event, MessageFileType.VIDEO)" accept="video/mp4, video/webm" hidden #videoInput>


<ng-template #UploadMedia>
    <div>
        <h2 mat-dialog-title class="m-0">{{ selectedFileType | titlecase }}</h2>
    </div>
    <mat-dialog-content class="py-0">
        <div style="width: 500px;">
            <div *ngIf="selectedFileType === MessageFileType.IMAGE">
                <img [src]="previewUrl" class="image-basics" alt="Image preview rounded">
            </div>
            <div *ngIf="selectedFileType === MessageFileType.VIDEO">
                <video [src]="previewUrl" controls  class="image-basics border border-dark rounded"></video>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="flex-center">
            <button (click)="closeDialog()" type="button" class="btn btn-dark form-control m-1">Close</button>
            <button (click)="uploadMedia()" type="button" class="btn btn-dark form-control m-1">Send</button>
        </div>
    </mat-dialog-actions>
</ng-template>