<section class="rounded-5">
    <div class="flex-center m-1 p-2 rounded-5" 
         routerLink="/u/home" 
         [class]="{'current': currentPage === 0}">
        <mat-icon aria-hidden="false" aria-label="home" fontIcon="home"></mat-icon>
    </div>

    <div class="flex-center m-1 p-2 rounded-5" 
         routerLink="/u/chat/0" 
         [class]="{'current': currentPage === 1}">
        <mat-icon aria-hidden="false" aria-label="chat" fontIcon="forum"></mat-icon>
    </div>

    <div class="flex-center m-1 p-2 rounded-5" 
         routerLink="/u/search"
         [class]="{'current': currentPage === 2}">
        <mat-icon aria-hidden="false" aria-label="search" fontIcon="search"></mat-icon>
    </div>

    <div class="flex-center m-1 p-2 rounded-5" 
         routerLink="/u/notifications"
         [class]="{'current': currentPage === 3}">
        <mat-icon aria-hidden="false" aria-label="notifications" fontIcon="notifications"></mat-icon>
    </div>

    <div class="flex-center m-1 p-2 rounded-5" 
         [class]="{'current': currentPage === 4}">
        <mat-icon aria-hidden="false" aria-label="explore" fontIcon="explore"></mat-icon>
    </div>
</section>