<!--  SIDE NAV BAR STARTS HERE -->
<side-bar></side-bar>
<!--  SIDE NAV BAR ENDS HERE -->
<article>
    <!--  TOP NAV BAR STARTS HERE -->
    <top-bar [isSearchResultShowing]="isSearchResultShowing" (toggleFilter)="showFilterDiv = !showFilterDiv"
        (clear)="loadUserList()" (search)="search($event)">
    </top-bar>
    <!--  TOP NAV BAR ENDS HERE -->

    <!--  MAIN CONTENT SPACE STARTS HERE -->
    <section>
        <div id="content-div" class="me-4 card">
            <div class="content-body rounded border border-end-0 border-start-0 px-5"
                [class]="{'scrollable': !(isSearchResultShowing && users.length === 0)}">
                <table class="table my-2">
                    <thead>
                        <tr>
                            <th scope="col">
                                <h2>Profile</h2>
                            </th>
                            <th scope="col">
                                <h2>Username</h2>
                            </th>
                            <th scope="col">
                                <h2>Name</h2>
                            </th>
                            <th scope="col">
                                <h2>Email</h2>
                            </th>
                            <th scope="col">
                                <h2>Phone</h2>
                            </th>
                            <th scope="col">
                                <h2>joinDate</h2>
                            </th>
                            <th scope="col" class="table-content">
                                <h2>Block/Unblock</h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td (click)="redireactTo(user.id!)">
                                <div class="loader" *ngIf="!profileMap.has(user.id!)"></div>
                                <img *ngIf="profileMap.has(user.id!)" [src]="profileMap.get(user.id!)" alt="Profile"
                                    id="profile-picture">
                            </td>
                            <td (click)="redireactTo(user.id!)">
                                <h3>@{{ user.username }}</h3>
                            </td>
                            <td (click)="redireactTo(user.id!)">
                                <h3 [class]="{'text-muted' : !user.name}">
                                    {{ user.name? user.name : 'User Name' }}
                                </h3>
                            </td>
                            <td (click)="redireactTo(user.id!)">
                                <h3>{{ user.email }}</h3>
                            </td>
                            <td (click)="redireactTo(user.id!)">
                                <h3 [class]="{'text-muted' : !user.phone}">
                                    {{ user.phone? user.phone : 'Phone Number' }}
                                </h3>
                            </td>
                            <td (click)="redireactTo(user.id!)">
                                <h3>{{ user.joinDate | date:"dd MMM yyy" }}</h3>
                            </td>
                            <td class="table-content">
                                <button type="button" *ngIf="!user.isBlocked" class="btn btn-warning"
                                    (click)="openBlockUser(user)">
                                    Block
                                </button>
                                <button type="button" (click)="confirmUnblockUser(user)" *ngIf="user.isBlocked"
                                    class="btn btn-success text-black">
                                    Un Block
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="no-result" *ngIf="isSearchResultShowing || users.length === 0">
                    <h2>No Result Found</h2>
                </div>
            </div>
            <div class="content-footer rounded d-flex justify-content-between align-items-center px-5">
                <div>
                    <button type="button" [disabled]="isFirst()"
                        class="btn me-1 d-flex justify-content-center align-items-center p-2 fwd-bwd-btn"
                        (click)=" decrPageNo();">
                        <mat-icon aria-hidden="false" aria-label="arrow_back_ios"
                            style="background: #023047; color: white" fontIcon="arrow_back_ios">
                        </mat-icon>
                    </button>
                </div>
                <div>{{ getPageNo }} out of {{ totalPages }}</div>
                <div>
                    <button type="button" [disabled]="isLast"
                        class="btn me-1 d-flex justify-content-center align-items-center p-2 fwd-bwd-btn"
                        (click)="incrPageNo();">
                        <mat-icon aria-hidden="false" aria-label="arrow_forward_ios"
                            style="background: #023047; color: white" fontIcon="arrow_forward_ios">
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div id="filter-div" *ngIf="showFilterDiv">
            <div id="filter-main">
                <div class="filter-title">
                    <h1>Apply Filters</h1>
                </div>
                <div>
                    <h3 class="mb-2">Filter By Block</h3>
                    <div class="form-check form-switch">
                        <input class="form-check-input" 
                               type="radio" 
                               name="block-filter" 
                               id="flexSwitchCheckChecked1" 
                               value="all"
                               [checked]="BlockFilter.ALL === userFilter.block"
                               (change)="onBlockFilterChange(BlockFilter.ALL)">
                        <label class="form-check-label" for="flexSwitchCheckChecked1"><span>All Users</span></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" 
                               type="radio" 
                               name="block-filter" 
                               id="flexSwitchCheckChecked2" 
                               value="blocked" 
                               [checked]="BlockFilter.BLOCKED === userFilter.block"
                               (change)="onBlockFilterChange(BlockFilter.BLOCKED)">
                        <label class="form-check-label" for="flexSwitchCheckChecked2"><span>Blocked Users</span></label>
                    </div>
                    <div class="form-check form-switch">
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="block-filter" 
                            id="flexSwitchCheckChecked3"
                            value="non-blocked" 
                            [checked]="BlockFilter.NON_BLOCKED === userFilter.block"
                            (change)="onBlockFilterChange(BlockFilter.NON_BLOCKED)">
                        <label class="form-check-label" for="flexSwitchCheckChecked3"><span>Non-Blocked Users</span></label>
                    </div>
                </div>
                <div>
                    <h3 class="mb-2 mt-4">Filter By Joining Date</h3>
                    <div class="form-check">
                        <input class="form-check-input" 
                               type="radio" 
                               name="joining-date-filter" 
                               id="flexRadioDefault1" 
                               value="all" 
                               [checked]="TimeFilter.ALL === userFilter.time"
                               (change)="onDateFilterChange(TimeFilter.ALL)">
                        <label class="form-check-label" for="flexRadioDefault1"><span>All Dates</span></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" 
                               type="radio" 
                               name="joining-date-filter" 
                               id="flexRadioDefault2" 
                               value="today" 
                               [checked]="TimeFilter.TODAY === userFilter.time"
                               (change)="onDateFilterChange(TimeFilter.TODAY)">
                        <label class="form-check-label" for="flexRadioDefault2"><span>Today</span></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" 
                               type="radio" 
                               name="joining-date-filter" 
                               id="flexRadioDefault3" 
                               value="this-week" 
                               [checked]="TimeFilter.THIS_WEEK === userFilter.time"
                               (change)="onDateFilterChange(TimeFilter.THIS_WEEK)">
                        <label class="form-check-label" for="flexRadioDefault3"><span>This Week</span></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" 
                               type="radio" 
                               name="joining-date-filter" 
                               id="flexRadioDefault4" 
                               value="this-month" 
                               [checked]="TimeFilter.THIS_MONTH === userFilter.time"
                               (change)="onDateFilterChange(TimeFilter.THIS_MONTH)">
                        <label class="form-check-label" for="flexRadioDefault4"><span>This Month</span></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" 
                               type="radio" 
                               name="joining-date-filter" 
                               id="flexRadioDefault5" 
                               value="this-year" 
                               [checked]="TimeFilter.THIS_YEAR === userFilter.time"
                               (change)="onDateFilterChange(TimeFilter.THIS_YEAR)">
                        <label class="form-check-label" for="flexRadioDefault5"><span>This Year</span></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" 
                               type="radio" 
                               name="joining-date-filter"
                                id="flexRadioDefault6" 
                               value="custom" 
                               [checked]="TimeFilter.CUSTOM_DATE === userFilter.time"
                               (change)="onDateFilterChange(TimeFilter.CUSTOM_DATE)">
                        <label class="form-check-label" for="flexRadioDefault6"><span>Custom Date</span></label>
                    </div>
                    <div *ngIf="isCustomDateSelected" @slideDownAnimation>
                        <label for="start-date">
                            <span>Start Date:</span>
                          </label>
                          <input type="date"
                                 id="start-date"
                                 name="start-date"
                                 [(ngModel)]="startDate"
                                 [max]="maxDate"
                                 (change)="onDateChange()"
                                 class="form-control">
                          
                          <label for="end-date" class="mt-2">
                            <span>End Date:</span>
                          </label>
                          <input type="date"
                                 id="end-date"
                                 name="end-date"
                                 [(ngModel)]="endDate"
                                 [min]="startDate"
                                 [max]="maxDate"
                                 class="form-control">
                          
                    </div>
                </div>
            </div>
            <div id="filter-footer">
                <button type="button" class="btn form-control" (click)="loadUserList()"><span>Apply Filters</span></button>
            </div>
        </div>        
    </section>
    <!--  MAIN CONTENT SPACE ENDS HERE -->
</article>

<ng-template #BlockUser>
    <div class="p-3">
        <h2>Block User</h2>
    </div>
    <mat-dialog-content style="overflow-x: hidden;">
        <div style="width: 500px;">
            <label for="block-reason">
                <span [class]="{
                    'text-danger': ((BlockReason.invalid && BlockReason.touched) && (blockReason === '' && clicked)), 
                    'text-dark': !((BlockReason.invalid && BlockReason.touched) && (blockReason === '' && clicked))
                    }">
                    Mention reason for blocking
                </span>
            </label>
            <textarea class="form-control mt-1" id="block-reason" name="block-reason" [(ngModel)]="blockReason" required
                #BlockReason="ngModel"
                [class]="{'is-invalid': ((BlockReason.invalid && BlockReason.touched) && (blockReason === '' && clicked))}"
                placeholder="Mention reason for blocking" style="height: 100px;"></textarea>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex justify-content-end">
        <button type="button" (click)="closeBlockUser()" class="btn btn-outline-warning me-2">
            Cancel
        </button>
        <button type="button" class="btn btn-outline-danger" [disabled]="!selectedUser" (click)="blockUser()">
            Block
        </button>
    </mat-dialog-actions>
</ng-template>