<!--  SIDE NAV BAR STARTS HERE -->
<side-bar></side-bar>
<!--  SIDE NAV BAR ENDS HERE -->
<article>
    <!--  TOP NAV BAR STARTS HERE -->
    <top-bar [isSearchResultShowing]="isSearchResultShowing"
             (clear)="loadUserList()"
             (search)="search($event)">
    </top-bar>
    <!--  TOP NAV BAR ENDS HERE -->

    <!--  MAIN CONTENT SPACE STARTS HERE -->
    <section>
        <div id="content-div" class="me-4 card">
            <div class="content-body rounded border border-end-0 border-start-0 px-5"
                [class]="{'scrollable': !(isSearchResultShowing && users.length === 0)}">
                <table class="table my-2">
                    <thead>
                        <tr>
                            <th scope="col">
                                <h2>Profile</h2>
                            </th>
                            <th scope="col">
                                <h2>Username</h2>
                            </th>
                            <th scope="col">
                                <h2>Name</h2>
                            </th>
                            <th scope="col">
                                <h2>Email</h2>
                            </th>
                            <th scope="col">
                                <h2>Phone</h2>
                            </th>
                            <th scope="col">
                                <h2>joinDate</h2>
                            </th>
                            <th scope="col" class="table-content">
                                <h2>Block/Unblock</h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td (click)="redireactTo(user.id!)">
                                <div class="loader" *ngIf="!profileMap.has(user.id!)"></div>
                                <img *ngIf="profileMap.has(user.id!)"
                                     [src]="profileMap.get(user.id!)"
                                     alt="Profile"
                                     id="profile-picture">
                            </td>
                            <td (click)="redireactTo(user.id!)">
                                <h3>@{{ user.username }}</h3>
                            </td>
                            <td (click)="redireactTo(user.id!)">
                                <h3 [class]="{'text-muted' : !user.name}">
                                    {{ user.name? user.name : 'User Name' }}
                                </h3>
                            </td>
                            <td (click)="redireactTo(user.id!)">
                                <h3>{{ user.email }}</h3>
                            </td>
                            <td (click)="redireactTo(user.id!)">
                                <h3 [class]="{'text-muted' : !user.phone}">
                                    {{ user.phone? user.phone : 'Phone Number' }}
                                </h3>
                            </td>
                            <td (click)="redireactTo(user.id!)">
                                <h3>{{ user.joinDate | date:"dd MMM yyy" }}</h3>
                            </td>
                            <td class="table-content">
                                <button type="button"
                                        *ngIf="!user.isBlocked" class="btn btn-warning"
                                        (click)="openBlockUser(user)">
                                        Block
                                </button>
                                <button type="button"
                                        (click)="confirmUnblockUser(user)"
                                        *ngIf="user.isBlocked" class="btn btn-success text-black">
                                        Un Block
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="no-result" *ngIf="isSearchResultShowing && users.length === 0">
                    <h2>No Result Found</h2>
                </div>
            </div>
            <div class="content-footer rounded d-flex justify-content-between align-items-center px-5">
                <div>
                    <button type="button" [disabled]="pageNo <= 0"
                        class="btn me-1 d-flex justify-content-center align-items-center p-2 fwd-bwd-btn"
                        (click)="pageNo = pageNo -1; loadUserList()">
                        <mat-icon aria-hidden="false" aria-label="arrow_back_ios"
                            style="background: #023047; color: white" fontIcon="arrow_back_ios">
                        </mat-icon>
                    </button>
                </div>
                <div>{{pageNo+1}} out of {{totalPages}}</div>
                <div>
                    <button type="button" [disabled]="isLast"
                        class="btn me-1 d-flex justify-content-center align-items-center p-2 fwd-bwd-btn"
                        (click)="pageNo = pageNo +1; loadUserList()">
                        <mat-icon aria-hidden="false" aria-label="arrow_forward_ios"
                            style="background: #023047; color: white" fontIcon="arrow_forward_ios">
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!--  MAIN CONTENT SPACE ENDS HERE -->
</article>

<ng-template #BlockUser>
    <div class="p-3">
        <h2>Block User</h2>
    </div>
    <mat-dialog-content style="overflow-x: hidden;">
        <div style="width: 500px;">
            <label for="block-reason">
                <span [class]="{
                    'text-danger': ((BlockReason.invalid && BlockReason.touched) && (blockReason === '' && clicked)), 
                    'text-dark': !((BlockReason.invalid && BlockReason.touched) && (blockReason === '' && clicked))
                    }">
                    Mention reason for blocking
                </span>
            </label>
            <textarea class="form-control mt-1" 
                      id="block-reason"  
                      name="block-reason"  
                      [(ngModel)]="blockReason"
                      required 
                      #BlockReason="ngModel" 
                      [class]="{'is-invalid': ((BlockReason.invalid && BlockReason.touched) && (blockReason === '' && clicked))}"
                      placeholder="Mention reason for blocking"
                      style="height: 100px;"></textarea>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex justify-content-end">
            <button type="button" 
                    (click)="closeBlockUser()"
                    class="btn btn-outline-warning me-2">
                Cancel
            </button>
            <button type="button" 
                    class="btn btn-outline-danger"
                    [disabled]="!selectedUser" 
                    (click)="blockUser()">
                Block
            </button>
    </mat-dialog-actions>
</ng-template>