<ng-template #postModal>
    <div class="d-flex justify-content-between align-items-center  m-3">
        <h2 mat-dialog-title class="m-0">Settings</h2>
        <button class="btn btn-outline-dark d-flex justify-content-center p-2 rounded-5" (click)="closeModal()">
            <mat-icon fontIcon="close"></mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <div>
            <div class="px-4 settings-item rounded-4 py-2 mb-2" routerLink="/u/profile/update" (click)="closeModal()">
                <h2 class="m-0 text-light">Edit My Profile</h2>
                <p class="p-0 m-0 fw-lighter">Update Your Details</p>
            </div>
            <div class="px-4 settings-item rounded-4 py-2 mb-2" routerLink="" (click)="closeModal()">
                <h2 class="m-0 text-light">Forgot Password</h2>
                <p class="p-0 m-0 fw-lighter">Update your forgotten password from here</p>
            </div>
            <div class="px-4 settings-item rounded-4 py-2 mb-2" routerLink="" (click)="closeModal()">
                <h2 class="m-0 text-light">Delete My account</h2>
                <p class="p-0 m-0 fw-lighter">Permanently remove your account</p>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="btn btn-dark form-control" (click)="logout()">
            <span class="text-danger">Log Out</span>
        </button>
    </mat-dialog-actions>
</ng-template>

<ng-template #EditDeleteModal>
    <div class="d-flex justify-content-between align-items-center  m-3">
        <h2 mat-dialog-title class="m-0">Post Settings</h2>
        <button class="btn btn-outline-dark d-flex justify-content-center p-2 rounded-5" (click)="closeModal()">
            <mat-icon fontIcon="close"></mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <div>
            <div class="px-4 settings-item rounded-4 py-2 mb-2" (click)="editpost()">
                <h2 class="m-0 text-light">Edit Post</h2>
                <p class="p-0 m-0 fw-lighter">Update Post description</p>
            </div>
            <div class="px-4 settings-item rounded-4 py-2 mb-2" (click)="deletePost()">
                <h2 class="m-0 text-light">Delete Post</h2>
                <p class="p-0 m-0 fw-lighter">Post will be deleted Permanently</p>
            </div>
        </div>
    </mat-dialog-content>
</ng-template>

<ng-template #EditPostModal>
    <div>
        <h2 mat-dialog-title class="m-0">Edit Post</h2>
    </div>
    <mat-dialog-content class="py-0">
        <div *ngIf="selectedPost">
            <div>
                <input type="text" [(ngModel)]="selectedPost.description" class="form-control my-3">
            </div>

            <img [src]="postFiles.get(selectedPost.id)" *ngIf="selectedPost.postType.toString() === 'IMAGE'"
                alt="Post Image" style="max-width: 400px;" class="rounded">

            <div *ngIf="selectedPost.postType.toString() === 'VIDEO'">
                <video [src]="postFiles.get(selectedPost.id)" class="rounded-3" controls>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button (click)="update()" type="button" class="btn btn-success form-control m-1">Update</button>
        <button (click)="closeEditPostModal()" type="button" class="btn btn-warning form-control m-1">Cancel</button>
    </mat-dialog-actions>
</ng-template>

<div id="side-nav"> 
    <side-nav-bar></side-nav-bar> 
</div>
<div id="bottom-nav">
    <bottom-nav-bar></bottom-nav-bar>
</div>

<article class="color-body" [class]="{'show-friend-article': showFriendsList}">
    <section class="scollable">
        <div id="profile">
            <div>
                <div id="cover-pic" class="img-basics" [style.background-image]="'url(' + coverPicture + ')'">
                    <div id="profile-pic" class="img-basics" [style.background-image]="'url(' + profilePicture + ')'">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse px-5 py-2">
                <button id="settings-btn" class="btn flex-center p-2 rounded-5" (click)="openModal()">
                    <mat-icon fontIcon="settings"></mat-icon>
                </button>
                <p id="friends-count" (click)="showFriends()">
                    <span>{{ friendsCount }}</span> Friends
                </p>
            </div>
            <div id="profile-details">
                <p id="user-name">{{ currentUser.name }}</p>
                <p id="username"> @{{ currentUser.username }}</p>
                <p id="bio">{{ currentUser.aboutMe}}</p>
                <p id="joined-date">Since {{ currentUser.joinDate | date: 'MMMM yyyy' }}</p>
                <p id="phone">{{ currentUser.phone }}</p>
            </div>
        </div>
        <div id="posts">
            <div id="my-post-label">
                <span>My Posts</span>
            </div>
            <div *ngFor="let post of posts">
                <single-post [post]="post"></single-post>
            </div>
        </div>
    </section>
    <ng-container *ngIf="showFriendsList">
        <div id="friends-list" class="scollable">
            <ng-container *ngIf="!loading">
                <div id="top">
                    <div class="icon" (click)="hideFriends()">
                        <mat-icon class="mat-icons" fontIcon="close"></mat-icon>
                    </div>
                    <h2>My Friends </h2>
                    <div id="sort-icons">
                        <div class="icon" [class]="{'active': sort}" (click)="sortFriendListAscending()">
                            <mat-icon class="mat-icons" fontIcon="north" [class]="{'active': sort}"></mat-icon>
                        </div>
                        <div class="icon" [class]="{'active': !sort}" (click)="sortFriendListDescending()">
                            <mat-icon class="mat-icons" fontIcon="south" [class]="{'active': !sort}"></mat-icon>
                        </div>
                    </div>
                </div>
                <div class="list" *ngFor="let friend of friendList">
                    <div class="user-img-name">
                        <img id="friend-img" src="assets/no-profile-image.png" alt="">
                        <div class="ms-2">
                            <span class="clr h5">{{ '@'+friend.username }}</span> <br>
                            <span class="clr h6">{{ friend.name }}</span>
                        </div>
                    </div>
                    <button class="btn btn-dark" (click)="removeFriend(friend.id!)">
                        Remove
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="loading">
                <div class="flex-center">
                    <div class="loader"></div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</article>
