section {
    padding: 0;
}

article {
    overflow: hidden;
}

#profile {
    width: 100%;
    position: relative;
}

#cover-pic {
    position: relative;
    width: 100%;
    aspect-ratio: 16/3;
    z-index: 0;
}

#profile-pic {
    width: 18%;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 15%;
    transform: translate(-50%, 50%);
    border: #171B23 solid 5px;
}

#profile-details {
    padding-top: 4%;
    padding-left: 10%;
}

#user-name {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

#username {
    color: #c0c0c0;
    font-size: large;
    font-weight: lighter;
}

#bio {
    color: white;
    font-size: large;
    font-weight: normal;
}

#joined-date {
    color: #c0c0c0;
    font-size: large;
    font-weight: lighter;
}

#phone {
    color: #c0c0c0;
    font-size: large;
    font-weight: lighter;
}

#friends-count {
    color: #c0c0c0;
    font-size: large;
    font-weight: lighter;
}

#friends-count span {
    color: white;
    font-size: x-large;
    font-weight: lighter;
}

#posts {
    padding: 0 4%;
    margin-top: 2rem;
}

#my-post-label {
    font-size: large;
    font-weight: lighter;
    border-top: #5e548e solid 2px;
    border-bottom: #5e548e solid 2px;
    padding: 1rem;
}

.img-basics {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#settings-btn, #settings-btn:hover {
    border: 1px solid white;
}