section {
    padding: 0;
}

#profile {
    width: 100%;
    position: relative;
}

#cover-pic {
    position: relative;
    width: 100%;
    aspect-ratio: 16/3;
    z-index: 0;
}

#profile-pic {
    width: 18%;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 15%;
    transform: translate(-50%, 50%);
    border: #171B23 solid 5px;
}

#profile-details {
    padding-top: 4%;
    padding-left: 10%;
}

#user-name {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

#username {
    color: #c0c0c0;
    font-size: large;
    font-weight: lighter;
}

#bio {
    color: white;
    font-size: large;
    font-weight: normal;
}

#joined-date {
    color: #c0c0c0;
    font-size: large;
    font-weight: lighter;
}

#phone {
    color: #c0c0c0;
    font-size: large;
    font-weight: lighter;
}

#friends-count {
    color: #c0c0c0;
    font-size: large;
    font-weight: lighter;
    display: inline-block;
    border: 2px solid #5e548e;
    border-radius: 1rem;
    padding: 10px;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
}

#friends-count:hover {
    background-color: #5e548e;
}

#friends-count span {
    color: white;
    font-size: x-large;
    font-weight: lighter;
    cursor: pointer;
}

#posts {
    padding: 0 4%;
    margin-top: 2rem;
}

#my-post-label {
    font-size: large;
    font-weight: lighter;
    border-top: #5e548e solid 2px;
    border-bottom: #5e548e solid 2px;
    padding: 1rem;
}

.img-basics {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#settings-btn, #settings-btn:hover {
    border: 1px solid white;
    aspect-ratio: 1;
}

@media only screen and (max-width: 1023px) {
    #friends-list {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #5e548e;
        padding: 1rem;
        z-index: 500;
    }
}

@media only screen and (min-width: 1023px) {
    #friends-list {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 20%;
        background-color: #5e548e;
        padding: 1rem;
        z-index: 1000;
    }
}

.loader {
    border: 5px solid white;
    border-top: 5px solid #0b132b;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: #0b132b 3px solid;
}

#top h2 {
    color: #0b132b;
    margin: 0;
    padding: 0;
}

.icon {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 2px solid #0b132b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0b132b;
}

.mat-icons {
    color: #0b132b;
    margin: 0;
    padding: 0;
}

.icon:hover, .mat-icons:hover{
    background-color: #0b132b;
    color: #5e548e;
}

#sort-icons {
    display: flex;
    flex-direction: row;
}

.active {
    background-color: #0b132b;
    color: #5e548e;
}

#friend-img {
    height: 3rem;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid #0b132b;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-img-name {
    display: flex;
    align-items: center;
}

.clr {
    color: #0b132b;
}
