#search-group {
    margin: 1rem 0;
    height: 3rem;
    border: #5e548e solid 2px;
}

input,
input::placeholder,
input:focus {
    color: aliceblue;
    background-color: #171B23;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: large;
    font-weight: lighter;
    height: 100%;

}

#search-btn, #search-btn:hover {
    background-color: #5e548e;
    color: #0b132b;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

mat-icon {
    padding: 0;
    margin: 0;
    transform: scale(1.3);
}

.user-tile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 5%;
    cursor: pointer;
}

.user-tile:hover {
    background-color: #0C1017;
    transform: scale(1.025);
    transition-duration: 0.3s;
    border-radius: 10rem;
    border:none;
}

.user-tile img {
    aspect-ratio: 1;
    width: 50px;
    border-radius: 50%;
    border: black solid 1px;
}

.user-tile p {
    font-size: large;
    font-weight: normal;
    margin: 2px;
}

.user-tile span {
    font-size: small;
    font-weight: lighter;
    margin: 2px;
}

#no-result {
    height: 80%;
    width: 100%;
    display: grid;
    place-items: center;
}