<div id="side-nav"> <side-nav-bar></side-nav-bar> </div>

<article>
	<section>
    <div id="search-group" class="border rounded-5 py-1 px-2 my-3 row">
      <div class="col-11">
        <input type="text"
              name="search"
              id="search"
              placeholder="Search Here..."
              class="form-control"
              [(ngModel)]="searchText">
      </div>
      <button type="button" (click)="search()"
              class="btn btn-light rounded-5 d-flex justify-content-center align-items-center col-1">
        <mat-icon fontIcon="search" class="p-0 m-0"></mat-icon>
      </button>
    </div>
    <div>
      <div *ngFor="let user of result" id="user-tile">
        <div class="user-tile" (click)="navigateToUser(user.id!)">
					<img [src]="userProfileImageMap.get(user.id!)" alt="User Profile">
					<div class="ms-3">
						<p> {{ user.name? user.name : 'user' }} </p>
						<p> {{ '@'+user.username }} </p>
					</div>
				</div>
      </div>
    </div>
	</section>
</article>