/* For laptops and larger screens */
@media only screen and (max-width: 767px) {
  #side-nav { display: none; }
  section { width: 100%; }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #side-nav {
      display: none;
  }
  section {
      width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  #side-nav {
      position: fixed;
      height: 100%;
  }

  article {
      display: flex;
      justify-content: center;
  }

  section {
      width: 60%;
  }
}
article {
  height: 100%;
  width: 100%;
}
section {
  min-height: 100%;
  background-color: #353535;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 5%;
}
#search{

}
input,
input::placeholder,
input:focus{
  color: aliceblue;
  background-color: #353535;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: large;
  font-weight: lighter;
}
#search-group {

}

.user-tile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*margin: 5%;*/
  padding: 2% 5%;
  border-top: #404040 solid 1px;
  border-bottom: #404040 solid 1px;
  cursor: pointer;
}

.user-tile:hover {
  background-color: #404040;
  transform: scale(1.05);
  transition-duration: 0.3s;
}
.user-tile img {
  aspect-ratio: 1;
  width: 50px;
  border-radius: 50%;
  border: black solid 1px;
}
.user-tile p {
  font-size: large;
  font-weight: normal;
  margin: 2px;
}
.user-tile span {
  color: white;
  font-size: small;
  font-weight: lighter;
  margin: 2px;
}
p, span {
  color: white;
}