/* Common Styles */
.modal-content {
    background-color: black;
    color: white;
}

.modal-body {
    max-height: 60vh;
    height: 60vh;
}

section {
    height: 100vh;
    width: 100vw;
}

/* For tablets and smartphones */
@media only screen and (max-width: 1023px) {
    #side-nav {
        display: none;
    }

    #bottom-nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }

    section {
        display: flex;
        flex-direction: column-reverse;
    }

    article {
        margin-top: 2.2rem;
    }

    #action-bar {
        width: 100%;
        position: fixed;
        top: 0;
    }
}

/* For laptops and larger screens */
@media only screen and (min-width: 1023px) {
    #bottom-nav {
        display: none;
    }

    #side-nav {
        height: 100%;
    }

    section {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    article {
        border-radius: 1rem;
        height: 100%;
        width: 60%;
    }

    #action-bar {
        height: 100%;
        width: 30%;
    }
}

/* For Others */
article {
    overflow-y: scroll;
}
article::-webkit-scrollbar {
    width: 5px;
    border-radius: 50%
}

article::-webkit-scrollbar-track {
    margin: 12px 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

article::-webkit-scrollbar-thumb {
    background: rgba(236, 236, 236, 0.5);
    border-radius: 10px;
}

article::-webkit-scrollbar-thumb:hover {
    background: #0b132b;
}

