/* For tablets and smartphones */
@media only screen and (max-width: 1023px) {
    #side-nav {
        display: none;
    }

    #bottom-nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }

    #main-div {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* For laptops and larger screens */
@media only screen and (min-width: 1023px) {
    #bottom-nav {
        display: none;
    }
    #side-nav {
        position: fixed;
        height: 100%;
    }
    #create-post {
        width: 33%;
        margin-top: 0;
    }



    #main-div {
        display: flex;
        flex-direction: row;
    }

    #posts {
        margin-left: 7%;
        width: 60%;
        min-height: 100vh;
    }

    #people-online-line {
        height: 60%;
        width: 98.5%;
        background-color: #353535;
    }

    .posts-scroll {
        min-height: 100vh;
        height: 100vh;
        /* Adjust the height as needed */
        overflow-y: scroll;
    }

    /* Custom scrollbar styles */
    .posts-scroll::-webkit-scrollbar {
        width: 12px;
        border-radius: 10px;
    }

    .posts-scroll::-webkit-scrollbar-track {
        background: #353535;
        border-radius: 10px;
    }

    .posts-scroll::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-radius: 10px;
    }

    .posts-scroll::-webkit-scrollbar-thumb:hover {
        background: #555;
        transform: scale(2);
        border-radius: 10px;
    }

    /* For Firefox */
    .posts-scroll {
        scrollbar-width: thin;
        scrollbar-color: #888 #353535;
    }

    /* Hide top and bottom scroll arrows */
    .posts-scroll::-webkit-scrollbar-button {
        display: none;
    }
}

.aspect-ratio {
    color: cadetblue;
}