/* Common Styles */
.modal-content {
    background-color: #171B23;
    color: white;
}

.modal-body {
    max-height: 60vh;
    height: 60vh;
}

section {
    height: 100vh;
    width: 100vw;
}

/* For tablets and smartphones */
@media only screen and (max-width: 1023px) {
    .color-body {
        background-color: #171B23;
    }

    section {
        display: flex;
        flex-direction: column-reverse;
    }

    article {
        margin-top: 2.2rem;
    }

    #action-bar {
        width: 100%;
        position: fixed;
        top: 0;
    }
}

/* For laptops and larger screens */
@media only screen and (min-width: 1023px) {
    #bottom-nav {
        display: none;
    }

    #side-nav {
        padding: 0;
    }

    section {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    article {
        border-radius: 1rem;
        height: 100%;
        width: 60%;
    }

    #action-bar {
        height: 100%;
        width: 30%;
    }

    #user-online-list{
        margin-top: 5%;
    }
}