.sidebar {
  /*position: fixed;*/
  height: 100%;
  width: 100px;
  background-color: #353535;
}
.icon-panel {
  width: 90%;
  aspect-ratio: 1;
  background-color: #6C757D;
  border: 5px solid black;
}
.icon-panel:hover {
  background-color: black;
  border: 5px solid #6C757D;
}
.non-profile-sec{
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
}
.mat-icon {
  transform: scale(2);
  color: black;
  margin-bottom: 3px;
}
.icon-panel:hover, .icon-panel:hover .mat-icon { 
    color: white;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
}
#nav-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#top-nav {
    width: 100%;
}