<nav class="rounded-5">
    <div id="upper-portion">
        <img src="assets/logo.png" alt="Hive">
    </div>
    <div id="middle-portion">
        <div class="list-items">
            <div class="outline" 
                 routerLink="/u/home" 
                 [class]="{'active': currentPage === 0}">
                <mat-icon class="icons" fontIcon="home"></mat-icon>
            </div>
        </div>
        <div class="list-items">
            <div class="outline" 
                 routerLink="/u/search"
                 [class]="{'active': currentPage === 2}">            
                <mat-icon class="icons" fontIcon="search"></mat-icon>
            </div>
        </div>
        <div class="list-items">
            <div class="outline" 
                 routerLink="/u/chat/0" 
                 [class]="{'active': currentPage === 1}">
                <mat-icon class="icons" fontIcon="sms"></mat-icon>
            </div>
        </div>
        <div class="list-items">
            <div class="outline" 
                 routerLink="/u/notifications"
                 [class]="{'active': currentPage === 3}">            
                <mat-icon class="icons" fontIcon="notifications"></mat-icon>
            </div>
        </div>
        <div class="list-items">
            <div class="outline" 
                 [class]="{'active': currentPage === 4}">            
                <mat-icon class="icons" fontIcon="explore"></mat-icon>
            </div>
        </div>
    </div>
    <div id="lower-portion">
        <div class="list-items">
            <div class="outline" 
                routerLink="/u/profile"
                 [class]="{'active': currentPage === 5}">            
                <mat-icon class="icons" fontIcon="account_circle"></mat-icon>
            </div>
        </div>
    </div>
</nav>