<side-bar></side-bar>

<article>
    <top-bar [showFilterOption]="false" [showSearchOption]="false"></top-bar>

    <!--  MAIN CONTENT SPACE STARTS HERE -->
    <section style="overflow-y: scroll;">
        <div id="content" class="pe-3">
            <div class="flex-between rounded px-4 py-2 my-3">
                <!-- <div>
                    <button class="btn btn-outline-dark me-1 next-graph">
                        <mat-icon fontIcon="arrow_back_ios"></mat-icon>
                    </button>
                    <button class="btn btn-outline-dark me-1 next-graph">
                        <mat-icon fontIcon="arrow_forward_ios"></mat-icon>
                    </button>
                </div> -->
                <span class="h3 p-0 m-0 fw-light">
                    Users Statistics
                </span>
                <div>
                    <button class="btn btn-outline-dark me-1" id="dailyButton"
                        (click)="fetchAndUpdateChart('WEEK')">Weekly</button>
                    <button class="btn btn-outline-dark me-1" id="MonthlyButton"
                        (click)="fetchAndUpdateChart('MONTH')">Monthly</button>
                    <button class="btn btn-outline-dark" id="YearlyButton"
                        (click)="fetchAndUpdateChart('YEAR')">Yearly</button>
                </div>
            </div>
            <div style="background-color: #e2e1e1;" class="row">
                <div class="rounded border p-4 col-12 col-lg-9">
                    <canvas id="users-count" height="120px"></canvas>
                </div>
                <div class="rounded border col-12 col-lg-3">
                    <canvas id="all-users-count" height="100px"></canvas>
                </div>
            </div>
        </div>
    </section>
    <!--  MAIN CONTENT SPACE ENDS HERE -->
</article>