#create-post {
  background-color: #353535;
}
textarea{
  background-color: #353535;
  color: white;
}
textarea::placeholder {
  color: darkgray;
}
textarea:focus{
  background-color: #353535;
  color: white;
}
input{
  background-color: #353535;
  color: darkgray;
}
input:focus{
  background-color: #353535;
  color: white;
}
input::file-selector-button {
  background-color:palegreen;
}
input::file-selector-button:hover {
  background-color:hotpink;
}
span {
  color: darkgray;
}
mat-icon{
  transform: scale(2);
  color: darkgray;
}
mat-icon:hover{
  transform: scale(2.5);
  color: white;
}
.aspect-ratio-9-16{
  width: 50%;
  aspect-ratio: 9/16;
}
.aspect-ratio {
  width: 100%;
  object-fit: contain;
}
