<div id="create-post" class="px-5 py-4 m-lg-2 rounded">
  <div class="d-lg-flex justify-content-center">
    <span class="h2">Create New Post</span>
  </div>
  <div class="mt-3">
    <label for="post-text" class="text-white">Share your thoughts here</label>
    <textarea id="post-text" class="form-control" rows="3" placeholder="Enter your message"></textarea>
  </div>
  <div class="mt-3">
    <input type="file" class="form-control">
  </div>
  <div class="mt-3">
    <button class="form-control btn btn-success">Post</button>
  </div>
</div>
