<div id="heading">
    <h1>H<span id="logo-i">i</span>ve</h1>
    <div id="btn-group">
        <button id="new-post-btn" 
                type="button" 
                class="btn rounded"
                (click)="showCreateNewPostDivInSmallerDisplay = !showCreateNewPostDivInSmallerDisplay">
            <mat-icon id="new-post-icon" 
                    aria-hidden="false" 
                    aria-label="add_circle_outline" 
                    fontIcon="add_circle_outline"
                    *ngIf="!showCreateNewPostDivInSmallerDisplay"></mat-icon>
            <mat-icon id="new-post-icon" 
                    aria-hidden="false" 
                    aria-label="highlight_off" 
                    fontIcon="highlight_off"
                    *ngIf="showCreateNewPostDivInSmallerDisplay"></mat-icon>
        </button>
        <button id="new-post-btn" 
                type="button" 
                routerLink="/u/profile"
                class="btn rounded">
                <mat-icon id="user-icon"
                    aria-hidden="false" 
                    aria-label="account_circle" 
                    fontIcon="account_circle"></mat-icon>
        </button>                       
    </div>
</div>

<div id="create-post"  
    [class]="{'active': !showCreateNewPostDivInSmallerDisplay, 'scroll': file}">
    <div class="d-lg-flex justify-content-center">
        <span class="h2">Create New Post</span>
    </div>
    <div class="mt-3">
        <label for="post-text" [class]="{'text-danger': (description.length >= 255), 'text-white': (description.length < 255)}">
            <span>Share your thoughts here</span>
        </label>
        <textarea id="post-text" 
                  class="form-control" 
                  [class]="{'is-invalid': (description.length >= 255)}" rows="3"
                  [(ngModel)]="description" placeholder="Enter your message"></textarea>
        <span *ngIf="description.length  >= 255" class="text-danger bold">Description is too long</span>
    </div>
    <div class="mt-3">
        <button class="btn me-1" (click)="triggerImageUpload()">
            <mat-icon aria-hidden="false" aria-label="add_photo_alternate" fontIcon="add_photo_alternate"></mat-icon>
        </button>
        <button class="btn ms-1" (click)="triggerVideoUpload()">
            <mat-icon aria-hidden="false" aria-label="smart_display" fontIcon="smart_display"></mat-icon>
        </button>
        <input type="file" 
               #imageInputField 
               id="imageInput" 
               hidden="hidden" 
               name="imageInput"
               accept="image/png, image/jpeg" 
               (click)="imageInputField.value = ''" 
               (change)="onImageSelected($event)">
        <input type="file" 
               #videoInputField 
               id="videoInput" 
               hidden="hidden" 
               name="videoInput" 
               accept="video/mp4"
               (click)="videoInputField.value = ''" 
               (change)="onVideoSelected($event)">
    </div>
    <div style="width: 100%;" *ngIf="file && file.type.startsWith('image/')">
        <img [src]="previewImg" [class]="{'aspect-ratio-9-16' : aspectRatio===9/16, 'aspect-ratio': aspectRatio!==9/16}">
    </div>
    <div style="width: 100%;" *ngIf="file && file.type.startsWith('video/')">
        <video [src]="previewVideo" controls [class]="{'aspect-ratio-9-16': aspectRatio === 9/16, 'aspect-ratio': aspectRatio !== 9/16}">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="mt-3 flex-center">
        <button class="form-control btn post" (click)="post()" [disabled]="(description.length >= 255)">
            Post
        </button>
        <button class="form-control btn cancel ms-1" 
                *ngIf="file || description"
                (click)="clear(false)">
            Cancel
        </button>
    </div>
</div>