* {
    color: #0b132b;
}

#create-post {
    background-color: #5e548e;
}

textarea, 
textarea::placeholder,
textarea:focus {
    background-color: #5e548e;
    color: #0b132b;
    box-shadow: none;
    border-color: #0b132b;
    outline-color: #0b132b;
}

input,
input:focus {
    background-color: #5e548e;
    color: #0b132b;
}

mat-icon {
    transform: scale(2);
}

mat-icon:hover {
    transform: scale(2.5);
}

.post {
    color: #5e548e;
    background-color: #0b132b;
    font-weight: bold;
}

.cancel {
    color: #0b132b;
    background-color: #5e548e;
    font-weight: 500;
}

.post, .cancel {
    font-size: large;
    border: 1px solid #0b132b;
}

.aspect-ratio-9-16 {
    width: 50%;
    aspect-ratio: 9/16;
}

.aspect-ratio {
    width: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 1023px) {
    #heading {
        background-color: #5e548e;
        border-bottom: 1px solid #404040;
        padding: 2% 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #heading h1 {
        margin: 0;
        color: #0b132b;
        font-size: xx-large;
        font-weight: lighter;
    }

    #heading span {
        margin: 0;
        color: greenyellow;
    }

    #create-post {
        margin: 0;
        margin-bottom: 5px;
        padding: 5%;
    }

    #btn-group {
        display: flex;
        flex-direction: row;
    }

    #new-post-btn {
        padding: 0;
        margin: 0;
        margin-right: 5px;
        height: 100%;
        display: grid;
        place-content: center;
    }

    mat-icon {
        padding: 0;
        margin: 0;
        transform: scale(1.3);
        color: #0b132b;
        font-weight: lighter;
    }

    mat-icon:hover {
        transform: scale(1.4);
    }

    .active {
        display: none;
    }
}

/* For laptops and larger screens */
@media only screen and (min-width: 1023px) {
    #heading {
        display: none;
    }

    #create-post {
        padding: 5%;
        border-radius: 1rem ;
    }

}

/* Big Screen Scroll Wheel */
@media only screen and (min-width: 1023px) {
    .scroll {
        height: 100%;
        /* Adjust the height as needed */
        overflow-y: scroll;
    }

    /* Custom scrollbar styles */
    .scroll::-webkit-scrollbar {
        width: 12px;
        border-radius: 10px;
    }

    .scroll::-webkit-scrollbar-track {
        background: #353535;
        border-radius: 10px;
    }

    .scroll::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-radius: 10px;
    }

    .scroll::-webkit-scrollbar-thumb:hover {
        background: #555;
        transform: scale(2);
        border-radius: 10px;
    }

    /* For Firefox */
    .scroll {
        scrollbar-width: thin;
        scrollbar-color: #0b132b #5e548e;
    }

    /* Hide top and bottom scroll arrows */
    .scroll::-webkit-scrollbar-button {
        display: none;
    }
}
