/* For laptops and larger screens */
@media only screen and (max-width: 1023px) {
    section {
        width: 100%;
    }
}

@media only screen and (min-width: 1023px) {
    #side-nav {
        position: fixed;
    }

    section {
        width: 60%;
    }

    article {
        display: flex;
        justify-content: center;
    }
}

* {
    color: white
}

article {
    height: 100%;
    width: 100%;
}

section {
    min-height: 100%;
    background-color: #171B23;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 5%;
}