<article>
    <div id="side-nav"><side-nav-bar></side-nav-bar></div>

    <div id="peoples-section" >
        <div id="peoples-section-header">
          <p> Chats </p>
          <input type="text"
                 class="form-control rounded-5"
                 id="search"
                 name="search"
                 placeholder="Search"
                 [(ngModel)]="searchText">
        </div>
        <div id="peoples-section-body" class="peoples-scroll">
          <div *ngFor="let user of friendsList">
            <div (click)="chatWithUser(user)" class="user-tile">
                <img src="assets/Screenshot%202024-04-29%20152644.png" alt="User Profile">
                <div class="ms-3">
                    <p> {{ user.username }} </p>
                    <Span>Online / Last Seen</Span>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div id="chat-section">

        <div id="chat-header" *ngIf="receiver">
            <img class="user-profile-picture" src="assets/Screenshot%202024-04-29%20152644.png">
            <div class="ms-3">
              <span class="h4 text-light"> {{ receiver.username }} </span> <br>
              <Span class="text-light">Online / Last Seen</Span>
            </div>
        </div>

        <div id="chat-body"  class="chat-scroll container" *ngIf="receiver">
            <ng-container *ngIf="messages.length > 0">
              <!-- LOOP -->

              <div class="message px-3 row" *ngFor="let message of messages">
                  <div class="col-12 col-lg-6 d-flex justify-content-start">
                      <div class="message-right py-3 px-4" *ngIf="message.senderId === receiver.id?.toString()">
                          <span>{{ message.content }}</span>
                      </div>
                      <p class="message-time" *ngIf="message.senderId === receiver.id?.toString()">{{ message.timestamp}}</p>
                  </div>
                  <div class="col-12 col-lg-6 d-flex justify-content-end" >
                    <div>
                      <div class="message-left  py-3 px-4" *ngIf="message.senderId === currentUser.id?.toString()">
                          <span>{{ message.content }}</span>
                      </div>
                      <p class="d-flex justify-content-end message-time" *ngIf="message.senderId === currentUser.id?.toString()">{{ message.timestamp}}</p>
                    </div>
                  </div>
              </div>
              <!-- LOOP ENDS -->

            </ng-container>
            <ng-container *ngIf="messages.length === 0">
                <div id="no-message">
                    <div class="h3 p-3 rounded-5">
                      Start a new Conversation
                    </div>
                </div>
            </ng-container>
        </div>

        <div id="chat-input-outer" *ngIf="receiver">
            <div id="chat-input" class="rounded-5 d-flex justify-content-between">
              <input type="text"
                     class="rounded-5"
                     id="message-input"
                     name="message"
                     placeholder="Type here..."
                     [(ngModel)]="newMessage">
              <button class="btn btn-light px-4 rounded-5"  id="sent-btn" (click)="sendMessage()">
                <mat-icon style="color: #353535" fontIcon="send"></mat-icon>
              </button>
            </div>
        </div>

    </div>
</article>
