@media only screen and (max-width: 1023px) {
    article { 
        background-color: #171B23;
    }
}

@media only screen and (min-width: 1023px) { 
    article { 
        border-radius: 1rem;
        background-color: #171B23;
    }
}

#no-friend-post {
    width: 100%;
    height: 7rem;
    border-bottom: 1px solid #5e548e;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#main-text {
    color: white;
    font-size: larger;
}

#muted-text {
    color: #5e548e;
}