<img *ngIf="post.postType === PostType.IMAGE" #postImageElement
         [src]="postImage" [class]="aspectRatioClass"
         alt="post image" class="post rounded mx-md-5" (click)="navigateTo(post.id)">

<div *ngIf="post.postType === PostType.VIDEO" (click)="navigateTo(post.id)">
    <video #postVideoElement
            (mouseenter)="playVideo()"
            [src]="postVideo" controls
            [class]="aspectRatioClass"
            class="post rounded-3 mx-md-5">
            Your browser does not support the video tag.
    </video>
</div>