* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  /*background-color: #404040;*/
  background: url("assets/LoginSignUpBg.jpg") no-repeat center center/cover;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@media only screen and (min-width: 1024px) {
  body { overflow: hidden; }
}
/* Custom scrollbar styles */
*::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: #353535;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
  transform: scale(2);
  border-radius: 10px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #353535;
}

/* Hide top and bottom scroll arrows */
*::-webkit-scrollbar-button {
  display: none;
}
.loader {
    border: 5px solid #87f7a9;
    border-top: 5px solid #404040;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }