<!--  SIDE NAV BAR STARTS HERE -->
<side-bar></side-bar>
<!--  SIDE NAV BAR ENDS HERE -->
<article>
    <section>
        <div id="content-div" class="me-4">
            <div id="content-div-container" class="container">
                <div id="content-div-row" class="row">
                    <div id="left" class=" col-md-6 col-12 card rounded">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="loader" *ngIf="!post"></div>
                                    <user-pill *ngIf="post" [UserID]="post.userId"></user-pill>
                                </div>
                            </div>
                            <div id="post-main">
                                <div id="description-time-div">
                                    <span [class]="{'text-muted': (!post) || (!post.description) }"> 
                                        {{ post? (post.description? post.description : 'No description') : 'Loading' }}
                                    </span>
                                    <span>
                                        {{ getPostDate(post.createdOn) | date:'dd MMM yyy [hh:mm a]' }}
                                    </span>
                                </div>
                                <div id="post-div">
                                    <img *ngIf="post.postType.toString() === 'IMAGE'" #postImageElement
                                         [src]="postFile.get(post.id)?.fileString" 
                                         [class]="postFile.get(post.id)?.aspectRatio"
                                         alt="post image" 
                                         class="post img-basics rounded">
                           
                               <div *ngIf="post.postType.toString() === 'VIDEO'">
                                   <video [src]="postFile.get(post.id)?.fileString"
                                          controls
                                          [class]="postFile.get(post.id)?.aspectRatio"
                                          class="post img-basics rounded-3">
                                          Your browser does not support the video tag.
                                   </video>
                               </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="right" class="col-md-6 col-12 card rounded">
                        <div class="card-header container">
                            <div class="row">
                                <div class="col-6 title"><h2>Comments</h2></div>
                                <div class="col-6 title"><h2>Liked By</h2></div>
                            </div>                          
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<div class="loading-div" *ngIf="isLoading(LodingData.COMMENT)">
    <div class="loader"></div>
</div>
<div class="loading-div" *ngIf="true">
    <h3>No Comments For this post</h3>
</div>