<!--  SIDE NAV BAR STARTS HERE -->
<side-bar></side-bar>
<!--  SIDE NAV BAR ENDS HERE -->
<article>
    <section>
        <div id="content-div" class="me-4">
            <div id="content-div-container" class="container">
                <div id="content-div-row" class="row">
                    <div id="left" class=" col-md-6 col-12 card rounded">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="loader" *ngIf="!post"></div>
                                    <user-pill *ngIf="post" [UserID]="post.userId"></user-pill>
                                </div>
                                <div id="date-time-div" class="col-6">
                                    <span>
                                        {{ getPostDate(post.createdOn) | date:'dd MMM yyy [hh:mm a]' }}
                                    </span>
                                </div>
                            </div>
                            <div id="post-main">
                                <div>
                                    <span [class]="{'text-muted': (!post) || (!post.description) }">
                                        {{ post? (post.description? post.description : 'No description') : 'Loading' }}
                                    </span>
                                </div>
                                <div id="post-div">
                                    <img *ngIf="post.postType.toString() === 'IMAGE'" #postImageElement [src]="postFile"
                                        [class]="getAspectRatio(post.aspectRatio)" alt="post image"
                                        class="post img-basics rounded">

                                    <video [src]="postFile" *ngIf="post.postType.toString() === 'VIDEO'" controls
                                        [class]="getAspectRatio(post.aspectRatio)"
                                        class="post img-basics rounded-3">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="right" class="col-md-6 col-12 card rounded">
                        <div class="card-header container">
                            <div class="row">
                                <div class="col-6 title" (click)="showLike = false">
                                    <h2>{{ 'Comments (' + commentList.length + ')' }}</h2>
                                </div>
                                <div class="col-6 title" (click)="showLike = true">
                                    <h2>{{ 'Likes (' + likeList.length + ')' }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body scrollable">
                            <div id="comment-list" class="container" *ngIf="!showLike">
                                <div *ngFor="let comment of commentList" class="row mb-1">
                                    <div class="col-4">
                                        <user-pill *ngIf="post" [UserID]="comment.userId"></user-pill>
                                    </div>
                                    <div class="col-5 flex-center">
                                        <span>{{ comment.comment }}</span>
                                    </div>
                                    <div class="col-3 flex-center">
                                        <span>{{ getRelativeTime(comment.commentedDate) }}</span>
                                    </div>
                                </div>
                            </div>
                            <div id="like-list" class="container" *ngIf="showLike">
                                <div *ngFor="let like of likeList" class="row mb-1">
                                    <div class="col-6">
                                        <user-pill *ngIf="post" [UserID]="like.userId"></user-pill>
                                    </div>
                                    <div class="col-6 flex-end-center">
                                        <span>{{ like.likedDate | date:'dd MMM yyyy' }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<div class="loading-div" *ngIf="isLoading(LodingData.COMMENT)">
    <div class="loader"></div>
</div>
<div class="loading-div" *ngIf="true">
    <h3>No Comments For this post</h3>
</div>