* {
    color: black;
}

article {
    display: flex;
    justify-content: center;
}

section {
    padding: 0;
}

.image-section {
    height: 20%;
}

.CoverPic {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.ProfilePic {
    position: absolute;
    top: 10%;
    height: 20%;
    width: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#image-bg {
    width: 100%;
    height: 30%;
    position: fixed;
    top: 0;
    background-color: #404040;
    z-index: -1;
}

/* FORM DIV */
.form-div {
    position: relative;
    top: 13%;
    width: 100%;
}

@media only screen and (max-width: 1023px) {
    .AddImgTxt {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s;
        pointer-events: auto;
        opacity: 5;
    }
}

@media only screen and (min-width: 1023px) {
    .AddImgTxt {
        top: 50%;
        right: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
        z-index: 2;
    }

    .CoverPic:hover .AddImgTxt,
    .ProfilePic:hover .AddImgTxt {
        opacity: 5;
        pointer-events: auto;
    }
}