<div id="page-bg" class="p-2 d-lg-flex justify-content-center">
    <div id="form-bg" class="col-lg-6 rounded-5 p-5">
        <div id="div-1" class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-light">Reset Password</h1>
            <img src="assets/logo.png" alt="Logo" class="logo">
        </div>
        <div id="div-2">
            <div class="d-flex flex-column align-items-center justify-content-center" *ngIf="!isOtpVerificationSuccess">
                <span class="h6">Your 6-Digit OTP is sent via the email {{getMaskedEmail}}</span>
                <span>OTP Expires in</span>
                <div>
                    <span class="h2">{{ otpMinutes }}:{{ otpSeconds | number: '2.0-0' }}</span>
                </div>
                <div class="my-3 d-flex flex-row align-items-center justify-content-between">
                    <input type="number" 
                           name="otp" 
                           class="form-control" 
                           id="otp"
                           placeholder="OTP" 
                           required 
                           #Otp="ngModel" 
                           [(ngModel)]="otp">
                    <button type="button" class="btn btn-success mx-2" (click)="verfifyOtp()" [disabled]="verifiying">
                        <span *ngIf="!verifiying">Verify</span>
                        <div *ngIf="verifiying" class="loader"></div>
                    </button>
                    <button type="button" class="btn btn-dark" (click)="resentOtp()" [disabled]="resending">
                        <span *ngIf="!resending">Resend</span>
                        <div *ngIf="resending" class="loader"></div>
                    </button>
                </div>
            </div>

        <!-- FORM STARTS HERE -->
        <form #LoginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="password" class="form-label">
                    Password
                </label>
                <input type="password" 
                       name="password" 
                       class="form-control" 
                       id="password"
                       placeholder="Password" 
                       required 
                       #Password="ngModel" 
                       [(ngModel)]="password">
            </div>
            <div class="mb-3">
                <label for="cpassword" class="form-label">
                    Confirm Password
                </label>
                <input type="password" 
                       name="c_password" 
                       class="form-control" 
                       id="cpassword"
                       placeholder="Confirm Password"
                       required 
                       [disabled]="!isPasswordValid"
                       #CPassword="ngModel" 
                       [(ngModel)]="confirmPassword">
            </div>

            <div class="row" *ngIf="isOtpVerificationSuccess">
                <p class="h6" [class]="{'text-success': isPasswordLengthValid, 'text-light': !isPasswordLengthValid}">
                    At least 8 characters long.
                </p>
                <p class="h6"
                    [class]="{'text-success': isPasswordContainsAtLeastOneCapitalLetter, 'text-light': !isPasswordContainsAtLeastOneCapitalLetter}">
                    Contains uppercase letters.
                </p>
                <p class="h6"
                    [class]="{'text-success': isPasswordContainsAtLeastOneSmallLetter, 'text-light': !isPasswordContainsAtLeastOneSmallLetter}">
                    Contains lowercase letters.
                </p>
                <p class="h6"
                    [class]="{'text-success': isPasswordContainsAtLeastOneNumber, 'text-light': !isPasswordContainsAtLeastOneNumber}">
                    Contains numbers.
                </p>
                <p class="h6"
                    [class]="{'text-success': isPasswordContainsAtLeastOneSpecialCharacter, 'text-light': !isPasswordContainsAtLeastOneSpecialCharacter}">
                    Contains symbold.
                </p>
            </div>

             <div class="flex-center">
                <button type="submit" class="btn btn-info form-control m-1" [disabled]="isProcessing">
                    <span class="h5 text-black" *ngIf="!isProcessing">Reset</span>
                    <div class="loading-div p-3" *ngIf="isProcessing">
                        <div class="loader"></div>
                    </div>
                </button>
                <button type="submit" class="btn btn-light form-control m-1">
                    <span class="h5 text-black">Cancel</span>
                </button>
            </div>
        </form>
        <!-- FORM ENDS HERE -->
    </div>
</div>